.Button {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  width: 5rem;
  font-size: 1.5rem;
  height: 5rem;
  cursor: pointer;
  &:hover {
    background: rgba(0, 0, 0, .5);
  }
}